<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inventory" href="/tabs/inventory">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>Produk</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tambah" href="/tabs/tambah">
      <ion-icon name="add-outline"></ion-icon>
      <ion-label>Tambah</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/tabs/history">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Riwayat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="laporan" href="/tabs/laporan">
      <ion-icon name="sparkles-outline"></ion-icon>
      <ion-label>Asisten AI</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
